* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*facilita el manejo de tamaños*/
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* mejora tipografia*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit; /* heredan la tipografía */
}
